<!DOCTYPE html>
<html>
<head>
    <title>Список книг</title>
</head>
<body>
    <h1>Категории</h1>
    <ul>
        {% for tag in tags %}
            <li>
                <a href="{% url 'book_list_by_tag' tag.id %}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <h1>Список книг</h1>
    <ul>
        {% for book in books %}
            <li>
                <h2>{{ book.title }}</h2>
                <p>{{ book.description }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>