{% include "components/header.html" %}
<h1>{% if basket %}Редактировать заказ{% else %}Создать заказ{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    <label>Имя:</label>
    <input type="text" name="name" value="{{ basket.name|default_if_none:'' }}" required><br>

    <label>Email:</label>
    <input type="email" name="email" value="{{ basket.email|default_if_none:'' }}" required><br>

    <label>Телефон:</label>
    <input type="text" name="phone_number" value="{{ basket.phone_number|default_if_none:'' }}" required><br>

    <label>Книга:</label>
    <select name="book">
        {% for book in books %}
        <option value="{{ book.id }}" {% if basket and basket.book.id == book.id %}selected{% endif %}>
            {{ book.title }}
        </option>
        {% endfor %}
    </select><br>

    <button type="submit">Сохранить</button>
</form>
{% include "components/footer.html" %}
