{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'basket/basket_list.css' %}">
<ul class="todo-list">
    {% for i in todo_list %}
    <li class="todo-item">
        <h1 class="basket-name">{{ i.name }}</h1>
        <p class="basket-choice">{{ i.choice_check }}</p>
        <div class="todo-actions">
            <a href="/basket_list/{{i.id}}/" class="basket-link">Подробнее</a>
            <a href="/basket_list/{{i.id}}/update/" class="basket-link update">Изменить</a>
            <a href="/basket_list/{{i.id}}/delete/" class="basket-link delete">Удалить</a>
        </div>
    </li>
    {% endfor %}
</ul>